body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
li {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    font-family: Verdana, Geneva, sans-serif;
}

#Wrapper {
    width: 800px;
    margin: 20px auto;
}

#Header {
    text-align: center;
    color: #000;
    background-color: grey;
    padding: 10px;
    background-color: #febc3c;
    
    
      /*border radius*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #000;
}


#Links {
    background-color: #000;
    border: 2px solid #febc3c;
    margin: 20px;
    padding: 10px;
    
      /*border radius*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#Nav {
    width: 384px;
    background-color: #000;
    height: 50px;
    margin: 0 auto;
}

#Nav ul {
    list-style-type: none;
}

#Nav ul li {
    float: left;
}

#Nav ul li a {
    text-decoration: none;
    display: block;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    font-size: 0.8em;
    font-weight: bold;
    width: 80px;
    color: white;
    text-align: center;
    margin: 7px;

    /*border radius*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #000;

    /*GRADIENTS*/
    background: -moz-linear-gradient(top, #666, #333);
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
}

#Nav ul li a:hover {
    color: #febc3c;
    background-color: #333;
    background: -moz-linear-gradient(top, #000, #666);
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#666));
}


#About {
    background-color: #333;
    padding: 60px 0 60px 0;
    
    /*GRADIENTS*/
    background: -moz-linear-gradient(top, #666, #333);
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#febc3c));
}

#Content {
    width: 550px;
    margin: 0 auto;
    background-color: #000;
    border: 1px solid #ffae13;
    padding: 50px;


    /*border radius*/
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 1 5px;

    /*Shadows*/
    box-shadow: 1px 1px 4px #000;
    -moz-box-shadow: 1px 1px 4px #000;
    -webkit-box-shadow: 1px 1px 4px #000;
}

#Content img {
    float: left;
    border: 1px solid #000;
    background-color: #333;
    padding: 16px;
    margin: 0.7em;

    /*GRADIENTS*/
    background: -moz-linear-gradient(top, #000, #333);
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333));

    /*border radius*/
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 1 5px;
}

#Content h2 {
    color: #FFF;
    padding: 0.8em 0 0 0;
}

#Content p {
    font-size: 1em;
    color: #999;
    padding: 1em;;
    letter-spacing: 0.6px;
    line-height: 1.4em;
    
}

#Footer {
    background-color: #000;
    height: 20px;
    border-bottom: 1px solid #333;
    text-align: center;
    color: #fff;
    font-size: 10px;
    padding-top: 7px;
}
